<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="footregion"
		label="COM_FOOTREGION_OPTIONS"
		description="COM_FOOTREGION_OPTIONS_DESCR">		
		<field
			name="show_title"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_FOOTREGION_OPTIONS_SHOW_UTILISATEURS_NOM_LABEL"
			description="COM_FOOTREGION_OPTIONS_SHOW_UTILISATEURS_NOM_DESCR">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="link_titles"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_FOOTREGION_OPTIONS_SHOW_UTILISATEURS_PHOTO_LABEL"
			description="COM_FOOTREGION_OPTIONS_SHOW_UTILISATEURS_PHOTO_DESCR">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="show_title"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_FOOTREGION_OPTIONS_SHOW_CLUBS_NOM_LABEL"
			description="COM_FOOTREGION_OPTIONS_SHOW_CLUBS_NOM_DESCR">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="link_titles"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_FOOTREGION_OPTIONS_SHOW_CLUBS_LOGO_LABEL"
			description="COM_FOOTREGION_OPTIONS_SHOW_CLUBS_LOGO_DESCR">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_footregion"
			section="component" />
	</fieldset>
</config>
